.nav {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}
.navList {
  color: #202020;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  gap: 12px;
}

.navLink {
  display: block;
  padding: 12px 5px;
  &:hover,
  &:focus {
    border-bottom: 1px solid var(--main-green-color);
  }
}
